.medgrottoSection {
    padding: 60px 0 0;
    position: relative;
}
.med-content-section {
    clear: both;
    text-align: center;
}
.med-content-section h3 {
    color: #39425f;
    font-size: 40px;
    line-height: 44px;
    font-family: 'bebas_neuebold';
}
.med-content-section p {
    padding: 25px 0 0;
    color: #4a4a4a;
    font-size: 28px;
    line-height: 33px;
    /* font-family: 'bebas_neue_regularregular'; */
    text-transform: capitalize;
}
.med-logo img {
    max-height: 100px;
}
.med-app-section {
    text-align: center;
    padding: 15px 0 0;
}
.app-screen-view {
    margin: 30px 0 0;
}
.app-section-icons {
    text-align: center;
    padding: 30px 0 0;
}
.app-section-icons a {
    display: inline-block;
    margin: 15px 5px;
}
.app-section-icons a img {
    width: 180px;
    display: block;
}
.hospital-records h4{
    color: #39425f;
    font-size: 34px;
    margin-bottom: 23px;
    font-family: 'bebas_neue_regularregular';
}
.hospital-records p {
    color: #4a4a4a;
    font-family: 'Open Sans', sans-serif;
}
.website-view-section {
    position: relative;
}
.website-view-section a {
    height: 45px;
    line-height: 45px;
    position: absolute;
    top: 140px;
    font-weight: 700;
    margin-left: -60px;
    font-family: 'Open Sans', sans-serif;
}
.website-view-section img {
    max-width: 650px;
}
.website-view-section {
    position: relative;
}
.triangle-up {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 49.5Vw solid transparent;
    border-right: 49.5Vw solid transparent;
    left: 0;
    border-bottom: 403px solid #a2e1ed;
    right: 0;
    z-index: -1;
    bottom: 0;
    top: 0;
}
.triangle-right {
    width: 0;
    height: 0;
    border-top: 20Vw solid transparent;
    border-bottom: 20Vw solid transparent;
    border-right: 190px solid #f4fefa;
    position: absolute;
    right: 0;
    bottom: 100px;
}