.button {
    border-radius: 25px;
    padding: 0 35px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    min-width: 120px;
    margin-bottom: 50px;
    text-align: center;
    border: none;
    text-transform: capitalize;
}
.button:hover,.button:focus {
    color: #fff;
    text-decoration: none;
    outline: none;
}
.primary{
    background: #25365d;
}
.secondary {
    background: #ce2129;
}